<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/home.css">
    <script src="/static/scripts.js" defer></script>
</head>
<body>
    <div class="wrapper">
        <div class="side-bar">
            <ul>  
                <button class="side-bar-btn">Tasks</button>
                <button class="side-bar-btn">Notes</button>
                <button class="side-bar-btn" id="profileBtn">Profile</button>
            </ul>
        </div>
        <div class="box-content">
            <div class="header">
                <input type="search" name="" id="" class="search-box" placeholder="Search for task">
                <button id="addTask" onclick="showInputField()">+</button>
            </div>
            <div class="to-do-li" id="todoLi">
                <!--Tasks will automaticly be added here-->
            </div>
        </div>
        <div class="user-input hidden" id="inputField">
            <div class="user-input-header">
                <button onclick="hideInputField()">X</button>
            </div>
            <input type="text" placeholder="Add task" id="userInput">
            <button onclick="pushTask()">Add</button>
        </div>
    </div>
</body>
</html>
