:root {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
}

* {
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  min-height: 100vh;
}

.flashed-msg-container {
  width: 100%;
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: center;
}

.error {
  width: 20%;
  color: whitesmoke;
  background-color: hsl(0, 100%, 70%);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.success {
  width: 20%;
  color: whitesmoke;
  background-color: hsl(120, 100%, 70%);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}
