:root {
  --primary: #8d5f8c;
  --secondary: #a376a2;
  --ligh-text: #fafafa;
  --dark-text: #0a0a0a;
  --text: #fafafa;
  --action: #8d5f8c;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profileBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: hsl(0, 0%, 93%);
  box-shadow: 4px 4px var(--main-color);
  font-weight: 600;
  color: var(--main-color);
  cursor: pointer;

  &:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
}

.container {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backface-visibility: hidden;
  background: lightgrey;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 100%;
  max-width: 500px;
  max-height: 500px;

  h1 {
    margin: 20px 0 20px 0;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: var(--main-color);
    background-color: transparent;
  }
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background-color: transparent;

  input[type="text"] {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    flex: 1;

    &::placeholder {
      color: var(----font-color-sub);
    }
  }

  .add-btn {
    height: 40px;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:active {
      box-shadow: 0px 0px var(--main-color);
      transform: translate(3px, 3px);
    }
  }
}

.task-list {
  list-style: none;
  padding: 0;
  overflow: auto;
  max-height: 300px;
  background-color: transparent;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: var(--font-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
}

.task-list li.completed {
  background-color: #ff69b4;
  color: #000;
  text-decoration: line-through;
}

.task-text {
  flex-grow: 1;
  cursor: pointer;
}

.btn-group {
  display: flex;
  gap: 6px;
  background-color: transparent;
}

.btn-group button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 16px;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: hsl(0, 0%, 93%);
  box-shadow: 4px 4px var(--main-color);
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;

  &:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
  }
}
