<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/form.css" />
</head>

<body> 
  <div class="wrapper">
    <form action="/login" method="POST" id="logInForm">
      <h1>Login </h1>
      <input type="text" name="username" id="logInUsername" placeholder="Username" required />
      <input type="password" name="password" id="logInPassword" placeholder="Password" required />
      <button type="submit" class="add-btn">Log In</button>
      <div class="footer">
        <p>Don't have an account?</p>
        <a href="#" onclick="showSingUpForm()">Sign-Up</a>
      </div>
    </form>
    
    <form action="/signup" method="POST" class="hidden" id="signUpForm">
      <h1>Create an account </h1>
      <input type="text" name="username" id="username" placeholder=" Username" required />
      <input type="email" name="email" id="emal" placeholder=" Email" required />
      <input type="password" name="password" id="password" placeholder="Password" required />
      <button type="submit" class="add-btn">Sign Up</button>
      <div class="footer">
        <p>Already hava an account?</p>
        <a href="" onclick="showLogInForm()">Log-In</a>
      </div>
    </form>
  </div>

  <script defer>
      function showSingUpForm() {
        document.getElementById("logInForm").classList.add("hidden")

        document.getElementById("signUpForm").classList.remove("hidden")

      }
      
      function showLogInForm() {
        document.getElementById("signUpForm").classList.add("hidden")

        document.getElementById("logInForm").classList.remove("hidden")
      }
  </script>
</body>

</html>