{%extends 'base.html'%} {%block styles%}
<link rel="stylesheet" href="../static/css/profile.css" />
{%endblock%}
<!-- profile page   -->

{%block content%}
<div class="profile-card">
  <button class="btn" id="backBtn" onclick="goHome()">Back</button>
  <img
    src="/static/img/no-profile.png"
    alt="Profile Picture"
    class="profile-pic"
  />
  <h2>{{ current_user.username }}</h2>
  <p>Web Developer | Dreamer | Bts member</p>
  <button class="btn">Edit Profile</button>
  <button class="btn" onclick="logout()">Logout</button>
</div>
{%endblock%}
